
<div class="container">
<div class="header-slogan">
    <span class="header-slogan-slash">/</span>
    <span class="header-slogan-text">Add you Space</span>
</div><!-- /.header-slogan-->
<br>
<hr>
<div class="container">
  <br>
<div class="col-sm-9">
<%= render "form"%>
</div>

 <!-- Right column starts here  -->
<div class="col-sm-3">

</div><!-- /.col-* -->
</div><!-- /.container -->
