<div class="container">
<div class="header-slogan">
    <span class="header-slogan-slash">/</span>
    <span class="header-slogan-text">Add you site</span>
</div><!-- /.header-slogan-->
</div>
<br>
<hr>
<div class="container">
  <br>
  <div class="col-sm-3">
  <div class="widget">
  <h2>Navigation</h2>

  <ul class="nav">
      <li><a href="#"><span>1.</span> Name of Space</a></li>
      <li><a href="#"><span>2.</span> description</a></li>
      <li><a href="#"><span>3.</span> Upload Logo</a></li>
      <li><a href="#"><span>4.</span> Location </a></li>
      <li><a href="#"><span>5.</span> Contact Information </a></li>
      <li><a href="#"><span>5.</span> General Amenities </a></li>
  </ul>
  </div><!-- /.widget -->

  </div><!-- /.col-* -->

  <!--  right column starts here -->
<div class="col-sm-8">
  <%= render"form" %>
</div>
</div><!-- /.container -->
